<web-app>

<servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>org.mentawai.core.Controller</servlet-class>
    <load-on-startup>1</load-on-startup>
    <init-param>
    			<param-name>applicationManager</param-name>
        		<param-value>br.bgfazendas.conf.ApplicationManager</param-value>
    </init-param>		
</servlet>

	<servlet-mapping>
    	<servlet-name>Controller</servlet-name>
    	<url-pattern>*.mtw</url-pattern>
	</servlet-mapping>

    <filter>
        <filter-name>DebugFilter</filter-name>
        <filter-class>org.mentawai.util.DebugServletFilter</filter-class>
    </filter>
    
    <welcome-file-list>
	<welcome-file>index.html</welcome-file>
   </welcome-file-list>

   <taglib>
    	<taglib-uri>mentawai</taglib-uri>
    	<taglib-location>/WEB-INF/lib/mentawai.jar</taglib-location>
   </taglib>
    
    <filter-mapping>
        <filter-name>DebugFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher> 
        <dispatcher>FORWARD</dispatcher>    
        <dispatcher>INCLUDE</dispatcher>    
        <dispatcher>ERROR</dispatcher>    
    </filter-mapping>
   
</web-app>